<% if @cart.line_items.count == 0 %>
  <h1>Please Add Items</h1>
<% else %>
<h1>Cart</h1>
  <h5>Cart Number:<%= get_cart.id %></h5>
    <table class="table">
      <thead class="thead-default">
        <th>Name</th>
        <th>Remove</th>
        <th>Individual Price</th>
        <th>Quantity</th>
        <th>Quantity Price</th>
      </thead>
      <% @cart.line_items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= link_to 'Remove', line_item_path(item), method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
        <td>
          <%= number_to_currency(item.price) %>
        </td>
          <%= form_for(item) do |f| %>
        <td>
          <%= f.number_field :quantity, style: 'text-align: right' %>
        </td> 
          <% end %>
        <td>
          <%= number_to_currency(item.quantity_price) %>
        </td>
      </tr>
      <% end %>
    </table>

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3" style="text-align: right">
    Total:
    </div>
    <div class="col-sm-3" style="text-align: right; font-size: 1.5em">
      <span style="color:green"><%= number_to_currency(get_cart.total) %>
    </div>
  </div>
</div>

  <div class="checkout" style="clear: both; float:right; width: auto">
    <div class="form-group row">
      <%= form_for Order.new do |f| %>
        <div class="col-xs-3">
          <b><%= f.label :name %>:</b>
          <%= f.text_field :name, placeholder: "John Doe", class: "form-control", required: true %>
        </div>
        <div class="col-xs-3">
          <b><%= f.label :Phone_Number, "Phone Number" %>:</b>
          <%= f.text_field :phone, placeholder: "850 508 5978", class: "form-control", required: true %>
        </div>
        <div class="col-xs-3">
          <b><%= f.label :address %>:</b>
          <%= f.text_field :address, placeholder: "123 Main Street", class: "form-control", required: true %>    
        </div>
          <%= f.submit "Order", class: 'btn btn-success btn-block', style: "margin-top: 15px; clear: both; float:right" %>
      <% end %>
    </div>
  </div>
<% end %>